@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    position: relative;
    min-height: 100%;
}

body{
    margin: 0px 0px 350px; /* footer height 350px */
    padding: 0px;
    background-color: #e0e0df;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-inverse {
    background-image: none;
    width: 100%;
    z-index: 999;
    border-radius: 0px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 0px;
    width: auto;
}

.main-header .navbar-brand {
    height: 80px;
}

.main-header .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.carousel-inner>.item>img {
    margin: 0px auto;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 2%;
}

img.home {
    max-width: 100%;
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 250px;
}

hr {
    height: 2px;
    background-color:#555;
}

/*footer start*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #222;
    min-height: 350px;
    font-family: 'Roboto', sans-serif;
    width: 100%
}

.footerleft {
    margin-top: 20px;
    padding: 0 36px;
}

.logofooter {
    margin-bottom: 10px;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.footerleft p {
    color: #fff;
    font-size: 12px !important;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

.footerleft p i {
    width: 20px;
    color: #999;
}

.paddingtop-bottom {
    margin-top: 20px;
}

.footer-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
}

.footer-ul li {
    line-height: 29px;
    font-size: 12px;
}

.footer-ul li a {
    color: #a0a3a4;
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
    margin-right: 10px;
}

.footer-ul li a:hover {
    transition: color 0.2s linear 0s, background 0.2s linear 0s;
    color: #ff670f;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.icon-ul {
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

.icon-ul li {
    line-height: 75px;
    width: 100%;
    float: left;
}

.icon {
    float: left;
    margin-right: 5px;
}

.copyright {
    min-height: 40px;
    background-color: #0e0e0e;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright p {
    text-align: left;
    color: #FFF;
    padding: 10px 0;
    margin-bottom: 0px;
}

.heading7 {
    font-size: 21px;
    font-weight: 700;
    color: #d9d6d6;
    margin-bottom: 22px;
}

.post p {
    font-size: 12px;
    color: #FFF;
    line-height: 20px;
}

.post p span {
    display: block;
    color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    float: right;
    margin-bottom: 0px;
}

.bottom_ul li {
    float: left;
    line-height: 40px;
}

.bottom_ul li:after {
    content: "/";
    color: #FFF;
    margin-right: 8px;
    margin-left: 8px;
}

.bottom_ul li a {
    color: #FFF;
    font-size: 12px;
}

.tell-us h2{
    text-align: center;
    font-weight: 700;
    color: #77afd6;
    padding-top: 30px;
}
/*footer end*/